 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1334px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 55px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1153px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  margin: 57px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 28px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: 96px auto 0 70px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1153px;
}

.u-section-1 .u-container-layout-2 {
  padding: 16px 43px 30px;
}

.u-section-1 .u-text-5 {
  letter-spacing: 2px;
  text-transform: none;
  font-size: 1.875rem;
  margin: 32px auto 0;
}

.u-section-1 .u-form-1 {
  height: 889px;
  width: 527px;
  margin: 45px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-1 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-1 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-1 .u-input-4 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-input-5 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-input-6 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-input-7 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-input-8 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-input-9 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-input-10 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
}

.u-section-1 .u-input-11 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-1 .u-btn-2 {
  font-size: 1.125rem;
  letter-spacing: 3px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1132px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 951px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 951px;
  }

  .u-section-1 .u-form-1 {
    width: 417px;
  }

  .u-section-1 .u-form-group-7 {
    margin-bottom: 0;
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }
}

        body {
          padding: 0;
          margin: 0;
        }

        .navbar {

          display: flex;
          background-color: #FF5C5C;
          font-family: sans-serif;
        }

        ul {
          display: flex;
          flex-direction: row;
          list-style: none;
        }

        ul>li>a {
          padding: 0 12px;
          color: white;
          font-size: 12px;
        }

        @media screen and (max-width: 992px) {
          ul>li>a {
            font-size: 16px;
            padding: 0 6px;
          }

          .navbar {
            background-color: #000000;
            background: linear-gradient(to right, #40B6C0 40%, #2689B9 80%);
          }

        }