 .u-section-1 {
  background-image: url("images/15f115b1e32fc4be20d5f3095bb033cb1c061df291de3dca87231dddb944e9fce5d70b731384060200f0ff3e3e3a80f405d092df5ffa61519dd3ff_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 725px;
}

.u-section-1 .u-group-1 {
  width: 504px;
  min-height: 454px;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 29px 20px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 8.125rem;
  margin: 1px 20px 0 19px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 10px 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 0;
  padding: 16px 52px 16px 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-1 .u-group-1 {
    width: 394px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-1 .u-group-1 {
    width: 431px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-right: 19px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 554px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin: 50px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 375px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 29px;
}

.u-section-2 .u-image-1 {
  width: 510px;
  height: 362px;
  margin: 32px 1px 0;
}

.u-section-2 .u-text-1 {
  margin: 57px 312px 0 1px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 1px 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 29px;
}

.u-section-2 .u-image-2 {
  width: 510px;
  height: 362px;
  margin: 32px 1px 0;
}

.u-section-2 .u-text-3 {
  margin: 57px 312px 0 1px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 309px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 112px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 189px;
    margin-right: 112px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 220px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 367px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    width: 320px;
    height: 227px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 320px;
    height: 227px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 234px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 679px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-3 .u-list-1 {
  width: 1058px;
  margin: 88px 16px 60px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 321px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px 9px;
}

.u-section-3 .u-icon-1 {
  width: 48px;
  height: 48px;
  background-image: none;
  margin: 0 auto 0 1px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: -48px 0 0 72px;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px 9px;
}

.u-section-3 .u-icon-2 {
  width: 48px;
  height: 48px;
  background-image: none;
  margin: 0 auto 0 1px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: -48px 0 0 72px;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px 9px;
}

.u-section-3 .u-icon-3 {
  width: 48px;
  height: 48px;
  background-image: none;
  margin: 0 auto 0 1px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: -48px 0 0 72px;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px 9px;
}

.u-section-3 .u-icon-4 {
  width: 48px;
  height: 48px;
  background-image: none;
  margin: 0 auto 0 1px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: -48px 0 0 72px;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px 9px;
}

.u-section-3 .u-icon-5 {
  width: 48px;
  height: 48px;
  background-image: none;
  margin: 0 auto 0 1px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: -48px 0 0 72px;
}

.u-section-3 .u-container-layout-6 {
  padding: 10px 9px;
}

.u-section-3 .u-icon-6 {
  width: 48px;
  height: 48px;
  margin: 0 auto 0 1px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: -48px 0 0 72px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 285px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 60px;
  }

  .u-section-3 .u-icon-2 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-3 .u-text-3 {
    margin-left: 60px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 60px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 60px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 60px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 632px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1026px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1179px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }
}

        body {
          padding: 0;
          margin: 0;
        }

        .navbar {

          display: flex;
          background-color: #FF5C5C;
          font-family: sans-serif;
        }

        ul {
          display: flex;
          flex-direction: row;
          list-style: none;
        }

        ul>li>a {
          padding: 0 12px;
          color: white;
          font-size: 12px;
        }

        @media screen and (max-width: 992px) {
          ul>li>a {
            font-size: 16px;
            padding: 0 6px;
          }

          .navbar {
            background-color: #000000;
            background: linear-gradient(to right, #40B6C0 40%, #2689B9 80%);
          }

        }