 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url('static/images/2166447_medium2000.png');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 194px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.75rem;
  margin: 79px auto 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 18px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}


 body {
          padding: 0;
          margin: 0;
        }

        .navbar {

          display: flex;
          background-color: #FF5C5C;
          font-family: sans-serif;
        }

        ul {
          display: flex;
          flex-direction: row;
          list-style: none;
        }

        ul>li>a {
          padding: 0 12px;
          color: white;
          font-size: 12px;
        }

        @media screen and (max-width: 992px) {
          ul>li>a {
            font-size: 16px;
            padding: 0 6px;
          }

          .navbar {
            background-color: #000000;
            background: linear-gradient(to right, #40B6C0 40%, #2689B9 80%);
          }

        }
